.textColor {
    color: hsl(0, 0%, 80%);
}

.nav {
    /* border: 2px solid rgb(17, 160, 48); */

    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    justify-content: flex-start;
    /* background-color: blueviolet; */
    height: 55px;
    flex: 0 0 auto;
    margin-left: 10px;
    margin-right: 10px;
    
   
}

.nav > div {

    /* border: 2px solid rgb(17, 160, 48); */

    /* margin-left: auto; */
    /* padding: 5px; */
    margin: 1px;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 20%;
    transition: 0.3s;
    /* z-index: 1001; */
    /* position: fixed; */
    /* left: -250px; */
    
    background: none;
    

}

.nav > div:hover {
    background-color:hsl(0, 0%, 20%);
    cursor: pointer;
}


.icon {
    width: 25px;
    background: none;
    transition: 0.2s;
    z-index: 100;
}

.iconFlipped {
    transform: rotate(180deg);
}

.gptIcon {

    color: hsl(0, 0%, 75%);
    
    
    padding: 10px;
   

    font-size: large;
    /* font-family: sans-serif; */
    padding-right: 5px;
    display: flex;
    justify-items: center;
    align-content: center;
    font-weight: 450;
    position: relative;

    user-select: none;         /* Disables text selection */
    
    

    
    
}




